<!DOCTYPE html>
<html>
  <head>
    <title>Prikaz podataka</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1>Primljeni podaci</h1>
      <strong>Ime:</strong>
      <p><%= ime %></p>
      <strong>Email:</strong>
      <p><%= email %></p>
      <strong>Poruka:</strong>
      <p><%= poruka %></p>
      <a href="index.html"><button>PoÄetna stranica</button></a>
    </div>
  </body>
</html>
